<form>
    <div class='popup-form-item'><span class='popup-label'>Nombre: </span><span>{{objeto}}</span></div>
    <div class='popup-form-item'><span class='popup-label'>Morfología: </span><span>{{morfologia}}</span></div>
    <div class='popup-form-item'><span class='popup-label'>Nº Sigla: </span><span>{{sigla}}</span></div>
    <div class='popup-form-item'>{{{url}}}</div>
</form>